<h1>Listando notas</h1>

<table>
  <tr>
    <th></th>
    <% @exams.theoric.each do |exam| %>
      <th><%=h exam.name %></th>
    <% end %>
    <% @exams.practical.each do |exam| %>
      <th><%=h exam.name %></th>
    <% end %>
    <th>C</th>
    <th>MÉDIA</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%=h student.name %></td>
    <% @exams.theoric.map(&:id).each do |id| %>
      <td><%=h student.grade(id).try(:grade)  %></td>
    <% end %>
    <% @exams.practical.map(&:id).each do |id| %>
      <td><%=h student.grade(id).try(:grade)  %></td>
    <% end %>
    <td><%=h student.grade(@exams.concept.first.id).try(:grade) %></td>
    <td><%= student.final_grade(@course_class) %></td>
  </tr>
<% end %>
</table>

<br />

