<p>
  <b>Horário:</b>
  <%=h @course_class.start_time %>
</p>

<p>
  <b>Início Previsto:</b>
  <%=h @course_class.start_date %>
</p>

<p>
  <b>Término Previsto:</b>
  <%=h @course_class.end_date %>
</p>

<p>
  <b>Curso:</b>
  <%=h @course_class.course %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @course_class.city %>
</p>

<% if can? :update, @course_class %>
  <%= link_to 'Editar', edit_course_class_path(@course_class) %> |
<% end %>
<%= link_to 'Voltar', course_classes_path %>

