<div id="call-alunos">ALUNOS</div>

<div id="buscar_alunos">
  <% form_tag students_path, :method => :get do %>
    <div id="impttext_alunos"><%= text_field_tag :q, nil, :size => 57 %></div>
    <div id="imptbotao"><%= image_submit_tag "btbuscar.png" %></div>
  <% end %>
</div>

<div id="contents">
  <table id="listagem" width="100%" border="0" cellpadding="1" cellspacing="1" bordercolor="#74adc0">
  <tr bgcolor="#7ebecc">
    <td width="29%" height="25"><span class ="tabelline-tt" >NOME DO ALUNO</span></td>
    <td width="23%" height="25"><span class ="tabelline-tt" >CPF</span></td>
    <td width="14%" height="25">&nbsp;</td>
    <td width="14%" height="25">&nbsp;</td>
    <td width="20%" height="25">&nbsp;</td>
  </tr>

  <% @students.each_with_index do |student, index| %>
    <tr bgcolor="<%= define_color(index) %>">
      <td height="25"><%=h student.name %></td>
      <td height="25"><%=h student.cpf %></td>
      <% if can? :update, student %>
        <td height="25"><%= link_to image_tag("editar.png", :size => "85x18", :border => 0), edit_student_path(student) %></td>
      <% end %>
      <% if can? :destroy, student %>
        <td height="25"><a href="#"><%= link_to image_tag("excluir.png", :size => "85x18", :border => 0), student, :confirm => 'Tem certeza?', :method => :delete %></td>
      <% end %>
      <td height="25"><a href="#"><%= link_to image_tag("addturma.png", :size => "128x18", :border => 0), new_student_student_class_path(student) %></a></td>
    </tr>
  <% end %>
  </table>
  <br />
  <% if can? :create, @students %>
    <%= link_to image_tag("novo.png", :border => 0), new_student_path %>
  <% end %>
</div>
<div id="rdpitens"></div>
  
</div>

