<h1>Listando alunos
<% if @course_class %>
  de <%= @course_class.code %>
<% end %>
</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>RG</th>
    <th>CPF</th>
    <th>Naturalidade</th>
    <th>Data de Nascimento</th>
    <th>Estado Civil</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%=h student.name %></td>
    <td><%=h student.email %></td>
    <td><%=h student.phone %></td>
    <td><%=h student.rg %></td>
    <td><%=h student.cpf %></td>
    <td><%=h student.birthplace %></td>
    <td><%=h student.birthdate %></td>
    <td><%=h student.marital_status %></td>
    <td><%= link_to 'Turmas', student_student_classes_path(student) %></td>
    <td><%= link_to 'Visualizar', student %></td>
    <% if can? :update, student %>
      <td><%= link_to 'Editar', edit_student_path(student) %></td>
    <% end %>
    <% if can? :destroy, student %>
      <td><%= link_to 'Remover', student, :confirm => 'Tem certeza?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @students %>
  <%= link_to 'Novo aluno', new_student_path %>
<% end %>

