<p>
  <b>Nome:</b>
  <%=h @student.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @student.email %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @student.phone %>
</p>

<p>
  <b>RG:</b>
  <%=h @student.rg %>
</p>

<p>
  <b>CPF:</b>
  <%=h @student.cpf %>
</p>

<p>
  <b>Naturalidade:</b>
  <%=h @student.birthplace %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%=h @student.birthdate %>
</p>

<p>
  <b>Estado Civil:</b>
  <%=h @student.marital_status %>
</p>

<% if can? :update, @student %>
  <%= link_to 'Editar', edit_student_path(@student) %> |
<% end %>
<%= link_to 'Voltar', students_path %>

