<div id="call-alunos">AVISOS</div>
<div id="buscar_alunos">
  <% form_tag notifications_path, :method => :get do %>
    <div id="impttext_alunos"><%= text_field_tag :q, nil, :size => 60 %></div>
    <div id="imptbotao"><%= image_submit_tag "btbuscar.png" %></div>
  <% end %>
</div>

<div id="contents">
  <table id="listagem" width="100%" border="0" cellpadding="1" cellspacing="1" bordercolor="#74adc0">
    <tr bgcolor="#7ebecc">
	    <td width="40%" height="25"><span class ="tabelline-tt" >NOME DO ALUNO</span></td>
      <td width="30%" height="25"><span class ="tabelline-tt" >CPF</span></td>
      <td width="14%" height="25">&nbsp;</td>
    </tr>

    <% @students.each_with_index do |student, index| %>
      <tr bgcolor="<%= define_color(index) %>">
        <td height="25"><%=h student.name %></td>
        <td height="25"><%=h student.cpf %></td>
        <td height="25"><a href="#"><%= link_to "Enviar", payment_notifications_path(:student_id => student.id), :method => :put %></a></td>
      </tr>
    <% end %>
  </table>
</div>
