<div id="call-alunos">USUÁRIOS</div>

<div id="contents">
  <table id="listagem" class="semBusca" border="0" cellpadding="1" cellspacing="1" bordercolor="#74adc0">
  <tr bgcolor="#7ebecc">
	  <td width="29%" height="25"><span class ="tabelline-tt" >NOME</span></td>
    <td width="23%" height="25"><span class ="tabelline-tt" >EMAIL</span></td>
    <td width="23%" height="25"><span class ="tabelline-tt" >LOGIN</span></td>
    <td width="23%" height="25"><span class ="tabelline-tt" >TIPO</span></td>
    <td width="14%" height="25">&nbsp;</td>
    <td width="14%" height="25">&nbsp;</td>
  </tr>

  <% @users.each_with_index do |user,index| %>
    <tr bgcolor=<%= define_color(index) %>>
      <td><%=h user.name %></td>
      <td><%=h user.email %></td>
      <td><%=h user.login %></td>
      <td><%=h user.role.capitalize %></td>
      <% if can? :update, user %>
        <td class="action"><%= link_to image_tag("editar.png", :size => "85x18", :border => 0), edit_user_path(user) %></td>
      <% end %>
      <% if can? :destroy, user %>
        <td class="action"><%= link_to image_tag("excluir.png", :size => "85x18", :border => 0), user_path(user), :confirm => "Tem certeza?", :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <% if can? :create, @users %>
    <br />
    <%= link_to image_tag("novo.png", :border => 0), new_user_path %>
  <% end %>
</div>
</div>

<br />

