<h1>Listando usuários</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Login</th>
    <th>Email</th>
    <th>Tipo</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td><%=h user.role %></td>
    <td><%= link_to 'Visualizar', user %></td>
    <% if can? :update, user %>
      <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <% end %>
    <% if can? :destroy, user %>
      <td><%= link_to 'Remover', user_path(user), :confirm => "Tem certeza?", :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @users %>
  <%= link_to 'Novo usuário', new_user_path %>
<% end %>

