<h2>Novo usuário</h2>

<% form_for @user do |f| -%>
  <%= f.error_messages %>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :login %></p>
  <p><%= f.text_field :login %></p>

  <p><%= f.label :email %> <i>(opcional)</i></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.label :role %></p>
  <p><%= f.collection_select :role, User::ROLES, :to_s, :humanize %></p>

  <p><%= f.submit "Cadastrar" %></p>
<% end -%>

