<p>
  <b>Nome:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>Tipo:</b>
  <%=h @user.role %>
</p>

<% if can? :update, @user %>
  <%= link_to 'Editar', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Voltar', users_path %>

