<h1>Listando frequências
<% if @course_class %>
  de <%= @course_class.code %>
<% end %>
</h1>


<table>
  <tr>
  <th><%= link_to "Previous", change_week_course_class_frequencies_path(@course_class, :start_date => @days.first, :direction => :previous), :method => :put %></th>
  <% @days.each do |day| %>
    <th><%= day.strftime("%d/%m (%a)") %></th>
  <% end %>
  <th><%= link_to "Next", change_week_course_class_frequencies_path(@course_class, :start_date => @days.first, :direction => :next), :method => :put %></th>
  </tr>
  <% form_tag frequencies_path do %>
  <% @course_class.students.each do |student| %>
    <tr>
      <td><%=h student.name %></td>
      <% @days.each do |day| %>
        <% frequency = find_frequency(@course_class, student, day) %>
        <td>
          <%= check_box_tag 'frequencies[]', "#{student.id}##{day.strftime('%Y-%m-%d')}", (:checked unless frequency.nil?) %>
          <% unless frequency.nil? %>
            <%= hidden_field_tag 'remove_frequencies[]', "#{student.id}##{day.strftime('%Y-%m-%d')}" %>
          <% end %>
        </td>
      <% end %>
      <td></td>
    </tr>
  <% end %>
</table>
<%= hidden_field_tag :course_class_id, @course_class.id %>
<%= hidden_field_tag :start_date, @days.first %>
<%= submit_tag "Cadastrar Frequencias" %>
<% end %>

<br />

<%= link_to 'Cadastrar Frequências', new_course_class_frequency_path(@course_class) %>

