<h1>Editando curso</h1>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :credit_hours %><br />
    <%= f.text_field :credit_hours %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :teoric_exams %><br />
    <%= f.select :teoric_exams, 0..5 %>
  </p>

  <p>
    <%= f.label :teoric_weight %><br />
    <%= f.select :teoric_weight, 0..10 %>
  </p>

  <p>
    <%= f.label :practical_exams %><br />
    <%= f.select :practical_exams, 0..5 %>
  </p>

  <p>
    <%= f.label :practical_weight %><br />
    <%= f.select :practical_weight, 0..10 %>
  </p>

  <p>
    <%= f.label :other_weight %><br />
    <%= f.select :other_weight, 0..10 %>
  </p>

  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Visualizar', @course %> |
<%= link_to 'Voltar', courses_path %>

