<div id="call-alunos">CURSOS</div>

<div id="buscar_cursos">
  <% form_tag courses_path, :method => :get do %>
    <div id="impttext_alunos"><%= text_field_tag :q, nil, :size => 57 %></div>
    <div id="imptbotao"><%= image_submit_tag "btbuscar.png" %></div>
  <% end %>
</div>

<div id="contents">
  <table id="listagem" width="100%" border="0" cellpadding="1" cellspacing="1" bordercolor="#74adc0">
  <tr bgcolor="#7ebecc">
	  <td height="25"><span class ="tabelline-tt" >NOME DO CURSO</span></td>
    <td width="8%" height="25"><span class ="tabelline-tt" >CÓDIGO</span></td>
    <td width="4%" height="25"><span class ="tabelline-tt" >CH</span></td>
    <td width="10%" height="25"><span class ="tabelline-tt" >PRECO</span></td>
    <td width="14%" height="25">&nbsp;</td>
    <td width="14%" height="25">&nbsp;</td>
  </tr>

  <% @courses.each_with_index do |course,index| %>
    <tr bgcolor="<%= define_color(index) %>">
      <td height="25"><%=h course.name %></td>
      <td height="25"><%=h course.code %></td>
      <td height="25"><%=h course.credit_hours %></td>
      <td height="25"><%=h course.price %></td>
      <% if can? :update, course %>
        <td height="25"><span class ="action" ><%= link_to image_tag("editar.png", :size => "85x18", :border => 0), edit_course_path(course) %></span></td>
      <% end %>
      <% if can? :destroy, course %>
        <td height="25"><span class ="action" ><%= link_to image_tag("excluir.png", :size => "85x18", :border => 0), course, :confirm => 'Tem certeza?', :method => :delete %></span></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <br />
  <% if can? :create, @courses %>
    <%= link_to image_tag("novo.png", :border => 0), new_course_path %>
  <% end %>
</div>
</div>
