<p>
  <b>Nome:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Código:</b>
  <%=h @course.code %>
</p>

<p>
  <b>Carga Horária:</b>
  <%=h @course.credit_hours %>
</p>

<p>
  <b>Preço:</b>
  <%=h @course.price %>
</p>

<% if can? :update, @course %>
  <%= link_to 'Editar', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Voltar', courses_path %>

