<div id="contents">
  <table id="listagem" class="semBusca" border="0" cellpadding="1" cellspacing="1" bordercolor="#74adc0">
    <tr bgcolor="#7ebecc">
	    <td width="20%" height="25"><span class ="tabelline-tt" >TIPO</span></td>
      <td width="36%" height="25"><span class ="tabelline-tt" >NOME</span></td>
      <td width="10%" height="25"><span class ="tabelline-tt" >ORDEM</span></td>
      <td width="17%" height="25">&nbsp;</td>
      <td width="17%" height="25">&nbsp;</td>
    </tr>

    <% @exams.each_with_index do |exam,index| %>
      <tr bgcolor=<%= define_color(index) %>>
        <td><%=h exam.exam_type %></td>
        <td><%=h exam.name %></td>
        <td align="center"><%=h exam.exam_order %></td>
        <% if can? :update, exam %>
          <td class="action"><%= link_to  image_tag("editar.png", :size => "85x18", :border => 0), edit_course_class_exam_path(@course_class, exam) %></td>
        <% end %>
        <% if can? :destroy, exam %>
          <td class="action"><%= link_to  image_tag("excluir.png", :size => "85x18", :border => 0), course_class_exam_path(@course_class, exam), :confirm => 'Tem certeza?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br />
  <% if can? :create, @exams %>
    <%= link_to 'Nova avaliacao', new_course_class_exam_path(@course_class) %>
  <% end %>
</div>
<div id="rdpitens"></div>
