<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Quality</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= flash[:error] %></p>

<% if user_signed_in? or student_signed_in? %>
<div id="menu">
  <ul>
    <li><%= link_to "Cursos", courses_path %></li>
    <li><%= link_to "Turmas", course_classes_path %></li>
    <li><%= link_to "Cidades", cities_path %></li>
    <li><%= link_to "Usuários", users_path %></li>
    <li><%= link_to "Alunos", students_path %></li>
    <li><%= link_to "Arquivos", admin_files_path %></li>
  </ul>
</div>
<div class="clear"></div>
<% end %>

<div id="main"">
<p>
<% if user_signed_in? %>
  Bem vindo <%=h current_user.name %>.
  <%= link_to "Sair", destroy_user_session_path %>
 <% elsif student_signed_in? %>
  Bem vindo <%=h current_student.name %>.
  <%= link_to "Sair", destroy_student_session_path %>
<% end %>
</p>

<%= yield %>

</div>

</body>
</html>

